h1 Контакты

p Если у вас возникли вопросы, появились идеи или есть интересные предложения, пишите.

p Электронная почта: #{link_to 'mail@davydovanton.com', 'mailto:mail@davydovanton.com'}
p Github: #{link_to 'github.com/davydovanton/rubyjobs.dev', 'https://github.com/davydovanton/rubyjobs.dev'}

p Антон Давыдов
