.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.btn-float-right {
  float: right;
}

.new-vacancy-btn {
  float: right;
}

form {
  .btn-success {
    float: right;
  }
}

.form-group {
  margin: 1rem 0;

  .info {
    text-align: right;
    color: #777;
  }
}

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: 110px;
  }
}

.salary_information {
  float: right;
  text-align: right;
}

.salary {
  .money {
    color: #159d2c;
    font-size: 16px;
    font-weight: 700;
  }
}

.footer {
  padding: 1% 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: #f5f5f5;
  height: 90px;
  margin-top: 3%;
  
  .licence {
    display: flex;
    justify-content: center;
  }

  .list-inline-item {
    margin: 0 5%;
  }

  .footer-item {
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .footer {
    height: 90px;

    .footer-item {
      margin: 10px 0;
      text-align: center;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer {
    height: 75px;

    .footer-item {
      margin: 10px 0;
      text-align: center;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container{
    max-width: 990px;
  }

  .footer {
    height: 75px;

    .list-inline-item {
      margin: 0 3%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container{
    max-width: 1000px;
  }

  .footer {
    height: 75px;
  }
}
